* {
  padding: 0;
  margin: 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  cursor: pointer;
  position: sticky;
  height: 60px;
  background: rgba(0, 0, 0, 0.7) url(img/img3.jpg);
  background-size: cover;
  background-blend-mode: darken;
}
.leftnav {
  width: 40%;
  font-size: 18px;
  display: flex;
  color: #fff;
  align-items: center;
  font-family: "IM Fell English SC", serif;
  cursor: pointer;
  justify-content: center;
}
.rightnav {
  display: flex;
  width: 70%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.rightnav li {
  list-style: none;
  padding: 20px 20px;
}
.rightnav li a {
  color: white;
  text-decoration: line;
  border: 2px solid white;
  padding: 5px;
  border-radius: 6px;
}

.leftnav h4 {
  width: 30%;
}
a:hover {
  background-color: gray;
}
h3 {
  /* background-color: burlywood; */
  width: fit-content;
}
.introduction {
  display: flex;
  align-items: center;
  background-color: #eaf6f6;
  margin-top: 60px;
  background: rgba(0, 0, 0, 0.7) url(img/img3.jpg);
  background-size: cover;
  background-blend-mode: darken;
  /* background-repeat: no-repeat; */
  /* background-size: 100%; */
  height: 320px;
  color: white;
}

.introduction img {
  height: 230px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 85px;
  border-top-width: thick;
  margin: 0px;
}
.text-small {
  font-size: 20px;
  font-family: math;
  margin: auto;
}
.self {
  display: flex;
  margin: auto;
}
.introduction h1 {
  margin: auto;
}
.introduction p {
  margin: 10px;
}

.sec1 {
  font-size: 20px;
  font-family: "Vollkorn", serif;
  height: 283px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 60%;
  margin: auto;
}

.text {
  font-size: 22px;
}

.sec2 {
  font-size: 17px;
  height: 350px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  max-width: 70%;
  margin: auto;
  /* float: right; */
}

.sec2 .text {
  width: 60%;
}
.sec2 img {
  border: 4px solid black;
  border-radius: 20px;
}

.sec3 {
  font-size: 17px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  margin: auto;
}

.thumbnail {
  display: flex;
  height: 230px;
  border: 4px solid black;
  border-radius: 20px;
}

.pdf-link {
  height: 80px;
  background-repeat: no-repeat;
  background: rgba(0, 0, 0, 0.7) url(img/img3.jpg);
  background-size: cover;
  background-blend-mode: darken;
}

.pdf-link a {
  text-align: center;
  display: flex;
  padding: 18px 0;
  justify-content: center;
  background-color: brown;
  color: white;
  width: 25%;

  margin: auto;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
}

.pdf-link a:hover {
  background-color: rgb(85, 220, 125);
  color: black;
}

.pdf-link p {
  font-size: 15px;
  font-family: sans-serif;
  color: white;
}
